

body {
	background-color: rgba(204, 219, 220, 1);
	color: rgb(3, 147, 196);
}

.up-button {
	position: fixed;
	right: 0;
	bottom: 0;
	display: inline-block;
	max-width: 50px;
	padding: 10px;
}

.title {
	text-align: center;
	letter-spacing: 1px;
}

.logo {
    display: block;
    margin: auto;
    padding: 40px 10px;
}

section h1 {
	text-align: left;
}

p {
	color: #000000;
}

a, a:focus {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.menu {
	list-style: none;
	padding-left: 0px;
}

.menu li {
	display: inline-block;
}

.menu a {
	display: inline-block;
	background-color: rgba(0, 126, 167, 1);
	color: #6B6B6B;
	padding: 20px;
	margin: 10px;
	border-radius: 40px; 
}

.list-data {
	text-align: left;
	color: #9E9E9E;
}

section {
    clear: both;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
	padding: 15px 0px;
	margin-left: 5rem;
}

section p {
    text-align: left;
}

.content-wrapper {
	padding: 25px;
}

.left {
	float: left;
	width: 100%;
	max-width: 50%;
}

.right {
	float: right;
	width: 100%;
	max-width: 50%;
}

video {
	max-width: 80%;
}

aside {
	background-color: #50afcf;
    width: 30%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
	color: #29627e;
	border: rgba(0, 126, 167, 1) solid;
}

aside > p {
    margin: .5rem;
}

@media (max-width: 768px) {

.content-wrapper {
    padding: 10px;
}

.left {
	float: none;
	width: 100%;
	max-width: 100%;
}

.right {
	float: none;
	width: 100%;
	max-width: 100%;
}


}