
body {
  background-color: #FFFF;
  background-image: url("../imagenes/deportes.jpg");
  background-repeat: no-repeat;
  background-position: right;
 
}

section {
  clear: both;
  text-align: center;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px 0px;
  color: #1c516b;
 
}

header form {
  display: inline-block;
}

aside {
  background-color: white;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  color: #29627e;
  border: 1px solid;
}

.btn-link {
  border: 0px;
  border-bottom: 1px solid;
  outline: none;
  background: none;
  cursor: pointer;
  color: #1c516b;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}


}
