* {
  box-sizing: border-box;
}

article, h1, aside, footer {
  padding: 20px;
}

h1 {
  background-color: gray;
}

article {
  width: 60%;
  float: left;
}

aside {
  width: 40%;
  float: left;
}

footer {
  background-color: gray;
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
}
